<div class="row">
    <h2>Dashboard     <button class="btn btn-primary" ng-click="refresh()">Refresh</button></h2>
    <table class="table table-striped">
        <tr>
            <th>Request ID</th>
            <th>Customer ID</th>
            <th>Requested Time</th>
            <th>Accepted Time</th>
            <th>Time Elapsed</th>
            <th>Status</th>
            <th>Driver</th>
            <th>Completed Time</th>

        </tr>
        <tr ng-repeat="data in dashboard | orderBy: '-cr_status' ">
            <td>{{data.cr_id}}</td>
            <td>{{data.cr_customer_id}}</td>
            <td>{{data.cr_requested_time}}</td>
            <td>{{data.cr_request_accepted_time}}</td>
            <td>{{data.time_elapsed}}</td>
            <td>{{data.cr_status}}</td>
            <td>{{data.cr_driver_id}}</td>
            <td>{{data.cr_request_completed_time}}</td>
        </tr>
    </table>
</div>
